__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.env
.env.prod
logs/
*.log

node_modules/
dist/
unpackage/

.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
